<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/formstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400&family=Lobster&family=Montserrat:wght@100;200;300;400;500;700&display=swap" rel="stylesheet">
    <title>Form</title>
</head>
<body>
    <div class="form-container">
    <h1 class="form-heading"><%= heading %></h1>
        <form method="POST" action="/new">
            <div>
                <label for="author">Author:</label>
                <input type="text" id="author" name="author" placeholder="Enter author name" />
            </div>

            <div>
                 <label for="reply">Message:</label>
                 <input type="text" id="reply" name="reply" placeholder="Enter message" />
            </div>
            <button type="submit">Submit</button>
        </form>
        <a href="/">Go to home page</a>
    </div>
</body>
</html>