<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= heading %></h1>
        <form action="POST" action="/new">
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" placeholder="Enter author name" />

            <label for="reply">Message:</label>
            <input type="text" id="reply" name="reply" placeholder="Enter message" />
            
            <button type="submit">Submit</button>
        </form>
        <a href="/">Go home page</a>
</body>
</html>